-- ----------------------------
-- Table structure for ${tableName}
-- ----------------------------
CREATE TABLE `${tableName}` (
${columnList}
${primaryKeyList}
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
