EXECUTE sp_addextendedproperty 
  @name = 'MS_Description', 
  @value = '${comment}', 
  @level0type = 'user', 
  @level0name = '${user}', 
  @level1type = N'TABLE', 
  @level1name = N'${tableName}', 
  @level2type = N'COLUMN', 
  @level2name = N'${columnName}'
