--------------------------------------------------------
-- Structure for table ${tableName}
--------------------------------------------------------
CREATE TABLE "${tableName}" (
${columnList}
${primaryKeyList}
);
${commentList}
